
{% block root %}
    {% for group in item.children %}
        {% if group.children | length > 0 and group.displaychildren %}
            {% set _level1_class = '' %}
            {% if group.isCurrent() or group.isCurrentAncestor() %}
                {% set _level1_class = ' active' %}
            {% endif %}
            <li{{ group.childrenattributes|render_attributes({'class':'dropdown'~_level1_class}) }}>
                {# display the link #}
                {% if group.linkdisplayed %}
                    <a href="#"{{ group.linkattributes|render_attributes({'class':'dropdown-toggle', 'data-toggle':'dropdown'}) }}>
                {% endif %}
                {# display the label #}
                {% if group.labeldisplayed %}
                    <span{{ group.labelattributes|render_attributes }}>{{ group.label|trans({}, group.translationdomain) }}</span> 
                {% endif %}
                <span class="caret"></span>
                {# display the link #}
                {% if group.linkdisplayed %}
                    </a>
                {% endif %}
                {# display the 2nd level children #}
                <ul class="dropdown-menu">
                    {% for link in group.children %}
                        {% if link.displayed %}
                            {% set _level2_class = '' %}
                            {% if link.isCurrent() or link.isCurrentAncestor() %}
                                {% set _level2_class = ' active' %}
                            {% endif %}
                            <li{{ link.childrenattributes|render_attributes({'class':_level2_class}) }}>
                                {# display the link #}
                                {% if link.linkdisplayed or link.children|length > 0 %}
                                    <a href="{{ link.uri }}"{{ link.linkattributes|render_attributes }}>
                                {% endif %}
                                {# display the label #}
                                {% if link.labeldisplayed or link.children|length > 0 %}
                                    <span{{ link.labelattributes|render_attributes }}>{{ link.label|trans({}, link.translationdomain) }}</span> 
                                {% endif %}
                                {# display the arrow for sub children #}
                                {% if link.children | length > 0 %}
                                    <i class="icon-arrow-right"></i>
                                {% endif %}
                                {# display the link #}
                                {% if link.linkdisplayed or link.children|length > 0 %}
                                    </a>
                                {% endif %}
                                {% if link.children | length > 0 %}
                                    {# display the 3rd level children #}
                                    <ul class="dropdown-menu sub-menu">
                                        {% for sub_link in link.children %}
                                            {% if sub_link.displayed %}
                                                {% set _level3_class = '' %}
                                                {% if sub_link.isCurrent() or sub_link.isCurrentAncestor() %}
                                                    {% set _level3_class = ' active' %}
                                                {% endif %}
                                                <li{{ sub_link.childrenattributes|render_attributes({'class':_level3_class}) }}>
                                                    {# display the link #}
                                                    {% if sub_link.linkdisplayed %}
                                                        <a href="{{ sub_link.uri }}"{{ sub_link.linkattributes|render_attributes }}>
                                                    {% endif %}
                                                    {# display the label #}
                                                    {% if sub_link.labeldisplayed %}
                                                        <span{{ sub_link.labelattributes|render_attributes() }}>
                                                            {{ sub_link.label|trans({}, sub_link.translationdomain) }}
                                                        </span>
                                                    {% endif %}
                                                    {# display the link #}
                                                    {% if sub_link.linkdisplayed %}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            {% if group.displayed %}
                {% set _level1_class = '' %}
                {% if group.isCurrent() or group.isCurrentAncestor() %}
                    {% set _level1_class = ' active' %}
                {% endif %}
                <li{{ group.childrenattributes|render_attributes({'class':_level1_class}) }}>
                    {# display the link #}
                    {% if group.linkdisplayed %}
                        <a href="{{ group.uri }}"{{ group.linkattributes|render_attributes }}>
                    {% endif %}
                    {# display the label #}
                    {% if group.labeldisplayed %}
                        <span{{ group.labelattributes|render_attributes }}>
                            {{ group.label|trans({}, group.translationdomain) }}
                        </span>
                    {% endif %}
                    {# display the link #}
                    {% if group.linkdisplayed %}
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}